extend layout

block content
    form(method='POST' action='/add-post')
        div
            label(for='title') Title:
            input#name(type='text', placeholder='Blog Title' name='title')
        div
            label(for='content') Content:
            input#name(type='text', placeholder='Blog Content' name='content')
        div 
            button(type="submit") Add Post
            